@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
            --main: #4070F4;
            --komlementär1: #F4C440;
        }
/* Allgemeine Sachen */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* Body */
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--main);
}

nav {
    border-radius: 12px;
    background: var(--komlementär1);
    box-shadow: 0 5px 15px var(--komlementär1);
}

.nav-content {
    display: flex;
    height: 120px;
    align-items: center;
    list-style: none;
}

.link-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 120px;
    width: 95px;
    text-decoration: none;
}

.link-icon {
    font-size: 38px;
    color: #999;
}

.link-item.active .link-icon {
    color: #4070F4;
}

.link-text {
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    color: #4070F4;
    opacity: 0;
    transform: translateY(32px);
}


