* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    padding-top: 2rem;
    font-family: 'Courier New', Courier, monospace ;
    justify-content: center;
}

article {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    border-radius: 15% 15% 1rem 1rem;
    overflow: hidden;
}

header, section, menu, footer {
    display: flex;
    width: 100%;
    justify-content: center;
}

header, footer {
    height: 3rem;
    color: white;
    padding: 0.5rem;
    background-color: #000749;
}

section {
    padding: 2rem;
    gap: 0.3rem;
    background-color: #6996db;
}

menu {
    padding: 0.5rem;
    justify-content: space-between;
    background-color: #75b3ff;
    flex-wrap: wrap;
}

menu output {
    display: block;
}

menu div {
    width: 60%;
    background-color: black;
    border-radius: 2rem;
    padding: 0.2rem 1rem 0.2rem 1rem;
    color: crimson;
}



