* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    padding-top: 2rem;
    font-family: 'Courier New', Courier, monospace ;
    justify-content: center;
}